:root {
    --fontsize: 16px;
    --fontcolor: #000000;
}

body {
    font-size: var(--fontsize);
    color: var(--fontcolor);
    transition: font-size 0.3s, color 0.3s; /* Smooth transition for changes */
}
